<div class="row">
    <div class="col-md-6">
        <div class="card-container">
        <md-card>
            <md-card-header>
                <img md-card-avatar src="http://a4.mzstatic.com/us/r30/Purple3/v4/d6/e4/12/d6e41207-d0ee-96c5-6f9d-e789c6e4caf7/icon128-2x.png">

                <md-card-title>Header title</md-card-title>
                <md-card-subtitle>Header subtitle</md-card-subtitle>
       	    </md-card-header>
           <md-card-content>
               <div class="iframe-container" >
                   <!--make an component for this?-->
                <iframe id="player" type="text/html" width="auto" height="195"
                    src="https://www.youtube.com/embed/SBjQ9tuuTJQ"
                    frameborder="0" allowfullscreen>
                </iframe>
                </div>
            </md-card-content>
        </md-card>
        </div>
    </div>  
</div>