.main-nav {
    height: 56px;
    min-height: 56px;
    background: linear-gradient(#0143A3,#0273D4);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    z-index: 10;
    color: #fff;
}

.pinned-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.pointer {
    cursor: pointer;
}

.remaining-space {
    flex: 1 1 auto;
}


