.button-style {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.card-shadow {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
}

.card-header, .card-footer {
    padding: 0.01em 16px;
    color: #fff!important;
    background-color: #2196F3!important;
}

.card-body {
    padding: 0.01em 16px;
}

